/* * {
    font-family: monospace;
    font-size: 25px;
  } */
  
  body{
font-family: roboto;
  }
  
  .menu-nav-container ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-nav-container ul li {
    cursor: pointer;
    margin: 20px; 
    padding: 20px;
}

.menu-nav-container ul li a {
    text-decoration: none;
    font-size: 28px;
    color: black;
}

footer{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F0F0F0;
}

.wp-block-buttons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px 30px;
  overflow: hidden;
  border-radius: 5px; 
}

.wp-block-buttons a {
  text-align: center;
  padding: 13px; 
  margin: 0 10px; 
  background-color: black; 
  color: white; 
  text-decoration: none;
  border-radius: 40px; 
}

.wp-block-media-text{
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin: 20px 0;
}

.wp-block-media-text__media {
  flex: 0 0 auto; 
  margin-right: 20px; 
}

.wp-block-media-text__content img {
  max-width: 100%; 
  height: auto; 
}

.wp-block-media-text__content {
  flex: 1;
  text-align: center; 
}


.has-text-align-center p{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tw-target-text {
  display: flex;
  TEXT-ALIGN: CENTER;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  text: center;
}

.has-text-algin-left{
display: flex;
text: center;
}

iframe {
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center
}

h2 {
  display: flex;
  justify-content: center
}

.wp-image-76{
  display: flex;
  justify-content: center;
}

.wp-block-group{
  display: flex;
  justify-content: center;
  gap: normal;
}

.ytp-cued-thumbnail-overlay-image{
  display: flex;
  align-content: center;
}

.wp-block-gallery has-nested-images columns-default is-cropped{
  display: flex !important;
  align-content: center;
}

figure{
  display: flex;
}

.wp-block-image aligncenter size-full{
  display: flex;
}