/* * {
    font-family: monospace;
    font-size: 25px;
  } */
  
  body{
font-family: roboto;
  }
  .menu ul li{
    cursor: pointer;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    display: inline-block;
  }
  .menu li{
    float: right;
    margin: 20px 20px;
    padding-left: 20px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  }
  .menu ul{
    overflow: hidden;
  }

  .tw-target-text{
display: flex;
text: center;
}

p {
  display: flex;
  justify-content: center;
  text: center;
}

.has-text-algin-left{
display: flex;
text: center;
}

iframe {
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center
}

h2 {
  display: flex;
  justify-content: center
}

.wp-image-76{
  display: flex;
  justify-content: center;
}

.wp-block-group{
  display: flex;
  justify-content: center;
}